/* ========= */

/* .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
} */

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

main {
  height: calc(100%-55px);
  overflow-y: auto;
}
