.card {
  width: 50%;
  text-align: center;
  font-size: smaller;
  margin-top: 20px;
  padding: 5px;
}
.image {
  border: 1px solid #feae2e;
  border-radius: 5px;
}
.collection {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  padding: 3px 0;
}
.buyButton {
  background-color: #00703d;
  width: fit-content;
  padding: 6px 25px;
  border: none;
  border-radius: 15px;
}
.detailsButton {
  color: #feae2e;
  width: fit-content;
}
