.container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 10px;
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 1px solid #2d2d2d;
}

.carTitle,
.owner,
.location,
.voteCategories,
.location,
.location_map,
.location_data {
  display: flex;
  align-items: center;
}
.carTitle,
.owner,
.location,
.voteCategories {
  padding-top: 2px;
}
.carData {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.carTitle {
  justify-content: space-between;
}
.car_image {
  width: 140px;
  border-radius: 10px;
  object-fit: cover;
  object-position: bottom;
}
.voteCategories {
  justify-content: flex-start;
}
.location {
  justify-content: space-between;
}
.location_map {
  flex-direction: column;
  color: #da1921;
  filter: invert(19%) sepia(96%) saturate(2894%) hue-rotate(345deg)
    brightness(84%) contrast(104%);
  font-size: small;
}
.smIcon {
  width: 33px;
  padding-left: 5px;
}
.white {
  filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(315deg) brightness(88%)
    contrast(94%);
}
