.walletData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  background-color: #2c2c2c;
}
.walletData_title {
  font-size: 13px;
  text-align: center;
  font-weight: lighter;
}
.walletData_total {
  font-size: 46px;
  font-weight: bolder;
}
.walletData_units {
  font-size: smaller;
  font-weight: lighter;
  text-align: center;
  color: #feae2e;
}
.walletData_balance {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.walletData_balance p {
  color: #da1921;
}
.walletData_balance span {
  color: #d9d9d9;
  font-weight: bold;
}

.walletData_history {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #feae2e;
}

.walletData_history img {
  width: 26px;
  height: 24px;
}
.wallet_gridContent p {
  color: #da1921;
  text-align: center;
}
.wallet_gridContent p span {
  color: #d9d9d9;
  text-align: right;
}
/* .wallet_gridContent {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: auto;
} 
 .wallet_gridContent_col1 {
  color: #da1921;
}
.wallet_gridContent_col2 {
  color: #d9d9d9;
} */

.wallet_manage {
  text-align: center;
}

/* ************ ACTIONS */

.actions,
.actions_coupons,
.actions_tokens {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.actions_tokens {
}
.actions_coupons {
}

/* LINKS  */
.walletLinks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.walletLinks_btn {
  width: 30%;
  height: 110px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  background-color: #707070;
  border-radius: 15px;
}
.walletLinks_icon {
  filter: invert(83%) sepia(14%) saturate(5894%) hue-rotate(334deg)
    brightness(103%) contrast(102%);
}
