.titleBar {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
.titleBar img {
  display: inline-block;
  width: 60px;
}

.walletData {
  position: relative;
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: space-between;
  margin: 0 20px;
  border-radius: 5px;
  background-color: #2d2d2d;
}
.wallet_buttons {
  position: absolute;
  width: 100%;
  bottom: -50px;
  display: flex;
  justify-content: space-evenly;
}
.row1 {
  /* background-color: aliceblue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 20px;
  /* margin-top: 10px; */
}
.walletData_balance {
  /* width: 50%; */
}
.walletData_title {
  font-size: 13px;
  text-align: center;
  font-weight: lighter;
}
.walletData_total {
  font-size: 46px;
  font-weight: bolder;
}
.walletData_units {
  font-size: smaller;
  font-weight: lighter;
  text-align: center;
  color: #feae2e;
  font-weight: 700;
}
.walletData_detail {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 35%;
}
.walletData_detail p {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  color: #da1921;
}
.walletData_detail span {
  font-weight: 700;
  color: #d9d9d9;
}
.walletData_detail small {
  font-size: 0.6em;
  vertical-align: text-top;
}

.walletData_history {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  color: #feae2e;
}

.walletData_history img {
  width: 26px;
  height: 24px;
}
.walletData_history p {
  font-weight: 700;
}
.wallet_gridContent p {
  color: #da1921;
  text-align: center;
}
.wallet_gridContent p span {
  color: #d9d9d9;
  text-align: right;
}

/* 00___________- */
.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wallet_button {
  background-color: #da1921;
  border-radius: 10px;
  padding: 2px 30px;
}
.wallet_button img {
  width: 35px;
  filter: invert(99%) sepia(14%) saturate(0%) hue-rotate(43deg) brightness(108%)
    contrast(101%);
}
.wallet_button_label {
  color: #d9d9d9;
  width: 50%;
  font-size: 0.8em;
  font-weight: 400;
  text-align: center;
}

/* ************ ACTIONS */

.actions,
.actions_coupons,
.actions_tokens {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.actions_tokens {
}
.actions_coupons {
}

/* LINKS  */
.linksContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 60px auto;
  border-top: 2px solid #d9d9d9;
  padding-top: 20px;
  width: 90%;
}
.walletLinks_btn {
  width: 33%;
  /* height: 110px; */
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  /* background-color: #707070; */
  background-repeat: no-repeat;
  background-size: 100%;
  /* border-radius: 15px; */
}
.walletLinks_icon {
  filter: invert(83%) sepia(14%) saturate(5894%) hue-rotate(334deg)
    brightness(103%) contrast(102%);
}
/* .linksContainer {
  margin: 60px auto;
  border-top: 2px solid #d9d9d9;
  padding-top: 20px;
  width: 90%;
}
.walletLinks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.walletLinks_btn {
  width: 30%;
  height: 110px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #707070;
  border-radius: 15px;
}
.walletLinks_icon {
  filter: invert(83%) sepia(14%) saturate(5894%) hue-rotate(334deg)
    brightness(103%) contrast(102%);
} */
